@media screen and (min-width: 769px) {
  .pChild__main .service__sec + .service__sec {
    margin-top: 45px;
  }
  .pChild__main .service__sec--title {
    text-align: center;
    font-size: 26px;
    line-height: 48px;
    font-weight: 700;
    color: #fff;
    font-weight: 700;
    padding: 0px;
    background: #192C3C;
    margin-bottom: 38px;
  }
  .pChild__main .service__sec--top {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .pChild__main .service__sec--top .left {
    width: 470px;
  }
  .pChild__main .service__sec--top .left h4 {
    font-size: 24px;
    line-height: 1.28571;
    font-weight: 700;
    color: #212121;
  }
  .pChild__main .service__sec--top .left h4 span {
    color: #56B25D;
  }
  .pChild__main .service__sec--top .left .txt {
    margin-top: 28px;
    font-size: 1.6rem;
    line-height: 28px;
  }
  .pChild__main .service__sec--top .left .txt p + p {
    margin-top: 16px;
  }
  .pChild__main .service__sec--top .right {
    margin: 0 48px 0 80px;
    width: 428px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .pChild__main .service__sec--top .right figure img {
    width: 100%;
    height: auto;
  }
  .header__nav > ul > li.hasChild {
    position: relative;
  }
  .header__nav > ul > li.hasChild::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 17px;
    bottom: -17px;
    left: 0;
  }
  .header__nav > ul > li.hasChild > a {
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    padding-right: 25px;
  }
  .header__nav > ul > li.hasChild > a::after {
    position: absolute;
    content: "";
    width: 13px;
    height: 8px;
    background: url("../img/chevronDown.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
  }
  .header__nav > ul > li.hasChild > ul {
    position: absolute;
    width: 240px;
    background: #fff;
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
         box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
    padding: 11px 16px;
    -moz-border-radius: 8px;
         border-radius: 8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -webkit-calc(100% + 17px);
    top: -moz-calc(100% + 17px);
    top: calc(100% + 17px);
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  .header__nav > ul > li.hasChild > ul > li + li {
    margin-left: 0;
  }
  .header__nav > ul > li.hasChild > ul > li > a {
    font-size: 16px;
    line-height: 36px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    padding: 0 0 0 20px;
  }
  .header__nav > ul > li.hasChild > ul > li > a::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 13px;
    background: url("../img/chevronRight.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header__nav > ul > li.hasChild:hover > ul {
    opacity: 1;
    pointer-events: auto;
    z-index: 3;
  }
  .p_top .feature .list {
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .p_top .feature .list article {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .p_top .feature .list .more {
    position: absolute;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 247, 240, 0.5)), to(#f7f7f0));
    background: -webkit-linear-gradient(top, rgba(247, 247, 240, 0.5) 0%, #f7f7f0 100%);
    background: -moz- oldlinear-gradient(top, rgba(247, 247, 240, 0.5) 0%, #f7f7f0 100%);
    background: linear-gradient(180deg, rgba(247, 247, 240, 0.5) 0%, #f7f7f0 80%);
  }
  .p_top .feature .list .more a {
    width: 160px;
    height: 56px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #0C8816;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding: 0 10px;
    display: -ms-inline-flex;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .pChild .fundDetail__desc--nav ul li a:hover {
    font-weight: 400;
    text-shadow: 0 0 .9px #56b25d, 0 0 .9px #56b25d, 0 0 .9px #56b25d;
  }
}

@media screen and (max-width: 768px) {
  .pChild__main .service__sec + .service__sec {
    margin-top: 11.53846vw;
  }
  .pChild__main .service__sec--title {
    text-align: center;
    font-size: 4.4vw;
    line-height: 8vw;
    font-weight: 700;
    color: #fff;
    font-weight: 700;
    padding: 1vw;
    background: #192C3C;
    margin-bottom: 5vw;
  }
  .pChild__main .service__sec--top {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .pChild__main .service__sec--top .left {
    width: 100%;
  }
  .pChild__main .service__sec--top .left h4 {
    font-size: 4.61538vw;
    line-height: 1.44444;
    font-weight: 700;
    color: #212121;
  }
  .pChild__main .service__sec--top .left h4 span {
    color: #56B25D;
  }
  .pChild__main .service__sec--top .left .txt {
    font-size: 3.84615vw;
    line-height: 6.15385vw;
    font-weight: 400;
    margin-top: 4vw;
  }
  .pChild__main .service__sec--top .left .txt p + p {
    margin-top: 4vw;
  }
  .pChild__main .service__sec--top .right {
    width: 100%;
    margin-top: 8.46154vw;
  }
  .pChild__main .service__sec--top .right figure img {
    width: 100%;
    height: auto;
  }
  .header__nav > ul > li {
    padding: 3.84615vw 0;
  }
  .header__nav > ul > li > a {
    font-weight: 700;
    padding: 0;
  }
  .header__nav > ul > li.hasChild {
    position: relative;
  }
  .header__nav > ul > li.hasChild > ul {
    width: 100%;
    padding: 2.82051vw 0 0;
  }
  .header__nav > ul > li.hasChild > ul > li {
    border: 0;
  }
  .header__nav > ul > li.hasChild > ul > li + li {
    margin-left: 0;
    margin-top: 2.4vw;
  }
  .header__nav > ul > li.hasChild > ul > li > a {
    font-size: 4.10256vw;
    line-height: 6.15385vw;
    font-weight: 400;
    display: inline-block;
    position: relative;
    padding: 0 0 0 4vw;
  }
  .header__nav > ul > li.hasChild > ul > li > a::before {
    position: absolute;
    content: "";
    width: 2.05128vw;
    height: 3.33333vw;
    background: url("../img/chevronRight.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header__nav > ul > li.hasChild:hover > ul {
    opacity: 1;
    pointer-events: auto;
    z-index: 3;
  }
  .p_top .feature .list {
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .p_top .feature .list article {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .p_top .feature .list .more {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    margin-top: 4vw;
    padding: 0vw 0 20.51282vw;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 247, 240, 0.5)), to(#f7f7f0));
    background: -webkit-linear-gradient(top, rgba(247, 247, 240, 0.5) 0%, #f7f7f0 100%);
    background: -moz- oldlinear-gradient(top, rgba(247, 247, 240, 0.5) 0%, #f7f7f0 100%);
    background: linear-gradient(180deg, rgba(247, 247, 240, 0.5) 0%, #f7f7f0 100%);
  }
  .p_top .feature .list .more a {
    width: 30.51282vw;
    min-height: 12.30769vw;
    -moz-border-radius: 2.05128vw;
    border-radius: 2.05128vw;
    background: #0C8816;
    font-weight: bold;
    font-size: 3.84615vw;
    text-align: center;
    color: #fff;
    padding: 0 2.5641vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-inline-flex;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .pChild .fundDetail__desc--nav {
    margin: 0;
  }
  .pChild .fundDetail__desc--nav--wrap {
    position: relative;
    padding: 0 4vw;
    margin: 0 -4.10256vw;
  }
  .pChild .fundDetail__desc--nav--wrap::before,
  .pChild .fundDetail__desc--nav--wrap::after {
    position: absolute;
    content: "";
    width: 5vw;
    height: 5.2vw;
    top: 0vw;
  }
  .pChild .fundDetail__desc--nav--wrap::before {
    left: 1vw;
    background: url(../img/left.png) 0 0 no-repeat;
    -moz-background-size: contain;
    background-size: contain;
    /* -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); */
  }
  .pChild .fundDetail__desc--nav--wrap::after {
    right: 1vw;
    background: url(../img/right.png) 0 0 no-repeat;
    -moz-background-size: contain;
    background-size: contain;
  }
  .pChild .fundDetail__desc--nav--wrap.start::before {
    display: none;
  }
  .pChild .fundDetail__desc--nav--wrap.end::after {
    display: none;
  }
}


.pc { display: block !important; }
.sp { display: none !important; }
@media only screen and (max-width: 750px) {
.pc { display: none !important; }
.sp { display: block !important; }
}